<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header'); %>
    <%- include('layouts/navfootercss'); -%>
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <%- include('layouts/navbar'); %>
    <section>
        <div class="title">
            <h1>WHO WE ARE</h1>
        </div>
        <div class="title_about">
            <p id="about-para">
                Students Corner is a multidisciplinary educational website. We work together to create and produce work that we are proud of. Our main aim is to provide the students a platform where they can learn and develope their skills in different fields.
            </p>
        </div>
    </section>

    <div class="about-team">
        <div class="div-for-heading">
            <p>Meet Our Team</p>
        </div>
        <div class="div-for-cards">
            <div class="card1">
                <div class="name-and-img">
                    <div class="card1-name">
                        <h3>Aditya Rawat<span>/ Developer</span></h3>
                    </div>
                    <div class="card1-img">
                        <img src="../assets/img/about/IMG-20221116-WA0000.jpg" id="about-img">
                    </div>
                </div>

                <div class="social-icons">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                    <i class="fa-brands fa-twitter fa-2x"></i>
                </div>

            </div>

            <div class="card1">
                <div class="name-and-img">
                    <div class="card1-name">
                        <h3>Ayush Bhande<span>/ Developer</span></h3>
                    </div>
                    <div class="card1-img">
                        <img src="../assets/img/about/WhatsApp Image 2022-10-30 at 4.32.27 AM.jpeg" id="about-img">
                    </div>
                </div>

                <div class="social-icons">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                    <i class="fa-brands fa-twitter fa-2x"></i>
                </div>

            </div>

            <div class="card1">
                <div class="name-and-img">
                    <div class="card1-name">
                        <h3>Anmol Sharma<span>/ Developer</span></h3>
                    </div>
                    <div class="card1-img">
                        <img src="../assets/img/about/WhatsApp Image 2022-10-30 at 4.32.26 AM.jpeg" id="about-img">
                    </div>
                </div>

                <div class="social-icons">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                    <i class="fa-brands fa-twitter fa-2x"></i>
                </div>

            </div>

            <div class="card1">
                <div class="name-and-img">
                    <div class="card1-name">
                        <h3>Bharat Singh<span>/ Developer</span></h3>
                    </div>
                    <div class="card1-img">
                        <img src="../assets/img/about/IMG-20221116-WA0001.jpg" id="about-img">
                    </div>
                </div>

                <div class="social-icons">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                    <i class="fa-brands fa-twitter fa-2x"></i>
                </div>

            </div>
        </div>


    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>
</html>