<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header'); -%>
    <%- include('layouts/navfootercss'); -%>    
    <link rel="stylesheet" href="../css/book.css">
</head>

<body>

    <%- include('layouts/navbar'); -%>

    <div class="main">
        <div class="mainHeading">
            <h1>To Succeed You Must Read</h1>
            <div class="main_para">
                <p>Explore wide variety of books. Enhance your knowldege and get ahead in every step.</p>
            </div>
        </div>
        <div class="mainImage">
            <img src="../assets/img/Books/pngwing.com.png" alt="booksimg">
            <img src="../assets/img/Books/lovepik.png" class="forepik" alt="starlight">

        </div>
    </div>

    <div class="quotes">
        <p>BookStores always remind me that there are good things in this world</p>
        <div class="credit">
            <p>~ Vincent Van Gogh</p>
        </div>
    </div>

    <div class="books_store">
        <div class="books_heading">
            <h3>Popular Books</h3>
        </div>
        <div class="popular_books">
            <div class="book_card">
                <div class="book_img">
                    <img src="../assets/img/Books/C_Programming.png" alt="bookOne">
                </div>
                <div class="book_title">
                    <h5>The C Programming</h5>
                </div>
                <div class="book_read_download">
                    <button><a href="https://drive.google.com/file/d/1G9hDW-E5aAmEF8_IDv7jDP4Jrg2weJuD/view?usp=sharing">Download</a></button>
                </div>
            </div>

            <div class="book_card">
                <div class="book_img">
                    <img src="../assets/img/Books/MERN_Stack_Book.jpg" alt="bookOne">
                </div>
                <div class="book_title">
                    <h5>Pro MERN Stack</h5>
                </div>
                <div class="book_read_download">
                    <button><a href="https://drive.google.com/file/d/16j8Tffk8V9A_0QYUqkL2zP67DmjopTlQ/view?usp=share_link">Download</a></button>
                </div>
            </div>

            <div class="book_card">
                <div class="book_img">
                    <img src="../assets/img/Books/Head_First_Java.jpg" alt="bookOne">
                </div>
                <div class="book_title">
                    <h5>Head First Java</h5>
                </div>
                <div class="book_read_download">
                    <button><a href="https://drive.google.com/file/d/1SiUo_2uxkfPCSazJ5ArsQKWziP13c22t/view?usp=share_link">Download</a></button>
                </div>
            </div>

        </div>
    </div>

    <!-- <div class="books_section_two"> -->
    <div class="book_heading_2">
        <h3>CS Books</h3>
    </div>
    <!-- </div> -->

    <div class="book_store_1">
        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/introduction_to_algorithms.webp" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>Introduction To Algorithms</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/1Rq4dHSERln-18XQRrvJIDu-Ez8KB7mkI/view?usp=sharing">Download</a></button>
            </div>
        </div>

        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/Data Structures & Algorithmic Thinking With Python.jpg" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>DS And Algorithmic Thinking With Python</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/1rhx_tkF_izmVQERgpA_ZBR6jNfTzRmQj/view?usp=share_link">Download</a></button>
            </div>
        </div>

        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/Android Programming.jpg" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>Android Programming</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/1NYqV_hAydmUWjwwwzhFagRZ5Fvq6tZML/view?usp=share_link">Download</a></button>
            </div>
        </div>

        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/Discete Mathematics.jpg" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>Discrete Structures</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/1lhu9OZ0P0lhi9FW6HF77-kzZc_998p37/view?usp=share_link">Download</a></button>
            </div>
        </div>
    </div>

    <div class="book_store_1">
        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/Head FIrst JavaScript.jpeg" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>Head First JavaScript</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/170dmn4khDpN8md2tOEhEJMbuz86DUqJC/view?usp=share_link">Download</a></button>
            </div>
        </div>

        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/The Road To React.jpeg" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>The Road To React</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/1E2Gcka69iXGCli_dDjopyDIsg4R-9QeP/view?usp=sharing">Download</a></button>
            </div>
        </div>

        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/pro html5.png" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>Pro HTML5 Games</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/1H34OeZtwCa0CgqBM-IykIO9qCnU1ZuVY/view?usp=share_link">Download</a></button>
            </div>
        </div>

        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/Nodejs In Action.jpeg" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>Nodejs In Action</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/1J3b-t34R3dXSalV0eJcqP7_HhcLl1aOf/view?usp=sharing">Download</a></button>
            </div>
        </div>
    </div>

    <div class="book_store_1">
        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/Mastering Photoshop For Web Designers.jpg" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>Photoshop For Web Designers</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/1oFY4j34y47wZEjDwUGrFQhO7U9rUM5j5/view?usp=share_link">Download</a></button>
            </div>
        </div>

        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/ror.png" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>Ruby On Rails</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/1jxEksXWuBt6QVJKAc_78wvt9I-fa9moQ/view?usp=share_link">Download</a></button>
            </div>
        </div>

        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/swift.png" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>Swift Tutorial</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/1Md6KPO4qNcbyppz6uPARHtRzp079Lcka/view?usp=share_link">Download</a></button>
            </div>
        </div>

        <div class="book_card_2">
            <div class="book_img_2">
                <img src="../assets/img/Books/Head_First_C(hash).png" alt="bookImg">
            </div>
            <div class="book_title_2">
                <h5>Head First C#</h5>
            </div>
            <div class="book_download_2">
                <button><a href="https://drive.google.com/file/d/1yiS1LGZLeoifnvw5PxAGcODGPwnuOXTR/view?usp=share_link">Download</a></button>
            </div>
        </div>
    </div>


    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>

</body>

</html>
