<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header'); -%>
    <%- include('layouts/navfootercss'); %>
    <link rel="stylesheet" href="../css/community.css">
</head>
<body>
    <%- include('layouts/navbar'); -%>

    <div class="comm_main">
        <div class="h_for_comm">
            <h1>Together We Can <span id="chngclr">Change</span> The World</h1>
        </div>
        <div class="img_for_comm">
            <img src="../assets/img/community/b.jpg">
        </div>
    </div>

    <div class="bigBox" id="ex">

        <div class="club1">

            <div class="club1_heading">
                <h2>Competitive Programming</h2>
            </div>
            <div class="club1_about">
               Catch up with students having great logical thinking and problem solving skills. Practice ,learn ,Develop, communicate and add new coding members to your group.
            </div>
            <div class="club1_btn">
                <a href="/community/post/club1">
                    <button type="button">Join Club</button>
                </a>
            </div>
        </div>
        <div class="club1">
            <div class="club1_heading">
                <h2>Artificial Intelligence And Machine Learing</h2>
            </div>
            <div class="club1_about">
                Improve yourselves in giving Intelligence to machines and solve problems related to real world. Practice ,learn ,Develop, communicate and make new coding members to your group.
            </div>
            <div class="club1_btn">
                <a href="/community/post/club2">
                    <button type="button">Join Club</button>
                </a>
            </div>
        </div>
        <div class="club1">
            <div class="club1_heading">
                <h2>Web Development</h2>
            </div>
            <div class="club1_about">
                Dive in the ocean of internet and learn how to make webapps by connecting with your kaliks and seniors. Practice ,learn ,Develop, communicate and add new coding members to your group. 
            </div>
            <div class="club1_btn">
                <a href="/community/post/club3">
                    <button type="button">Join Club</button>
                </a>
            </div>
        </div>
        <div class="club1">
            <div class="club1_heading">
                <h2>Cloud Computing</h2>
            </div>
            <div class="club1_about">
                Get a chance to know what happens at cloud and learn more by connecting with people who knows about cloud. Practice ,learn ,Develop, communicate and add new coding members to your group.
            </div>
            <div class="club1_btn">
                <a href="/community/post/club4">
                    <button type="button">Join Club</button>
                </a>
            </div>
        </div>

    </div>

    <div class="heading">
        <p> Why You Should Join The Community</p>
    </div>

    <div class="content_for_comm">

        <div class="card1">
            <div class="card1_heading">
                Connect With College Students
            </div>
            <div class="card1_para">
                Find Like Minded Students And Start Chatting With Them.
            </div>

            <div class="card1_heading">
                Find Mentors
            </div>
            <div class="card1_para">
                Having a mentor accelerates your learning journey. Find a mentor who guides you at each step in your career.
            </div>

            <div class="card1_heading">
                Group Chat
            </div>

            <div class="card1_para">
                From talking with friends to taking help from experts, we've got everything covered in the community group chats.
            </div>

        </div>

        <div class="card2">
            <div class="card2_heading">
                Discover Your Passion
            </div>
            <div class="card2_para">
                Connect on shared interests skills, & support each other.
            </div>

            <div class="card2_heading">
                Resources Section
            </div>
            <div class="card2_para">
                Insightful resources to make your learning process simple and exciting. All the paid and open source helpful resources are available.
            </div>
        </div>
    </div>
    
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts')-%>

    </body>
</html>
