<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header'); -%>
    <%- include('layouts/navfootercss'); -%>
    <link rel="stylesheet" href="../css/freeforstudents.css">
</head>
<body>

    <%- include('layouts/navbar'); -%>

    <div class="container">
        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/amazon.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/amazon-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.amazon.com/Amazon-Student/b?node=668781011" id="links-for-fos">
                    <h3>Amazon Prime Students</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 6 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/github.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/githublogo.webp">
            </div>
            <div class="card1about">
                <a href="https://education.github.com/pack" id="links-for-fos">
                    <h3>Student Developer Pack</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>For Current Students</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/jetbrains.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/jetbrainslogo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.jetbrains.com/community/education/#students" id="links-for-fos">
                    <h3>Professional Developer Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 12 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/surfshark.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/surfsharklogo.webp">
            </div>
            <div class="card1about">
                <a href="https://surfshark.com/deals?coupon=surfsharkdeal&transaction_id=1028f82428db93234a5349d10e1b87&offer_id=6&affiliate_id=4335&source=&aff_sub=&utm_source=Affiliates&utm_medium=4335&utm_campaign=affiliate&recurring_goal_id=6" id="links-for-fos">
                    <h3>Surfshark VPN(81% Discount)</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Discounted For 24 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/adobe.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/adobelogo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.adobe.com/creativecloud/buy/students.html" id="links-for-fos">
                    <h3>Creative Cloud 60% Discount</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Discounted For 12 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/azure-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/azure-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://azure.microsoft.com/en-in/free/students/" id="links-for-fos">
                    <h3>Cloud Computing Credit</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For Current Students</h5>
            </div>
        </div>


        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/digital.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/digitallogo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.figma.com/education/" id="links-for-fos">
                    <h3>Digital Design Students</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For Current Students</h5>
            </div>
        </div>



        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/productdesign.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/productdesignlogo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.invisionapp.com/" id="links-for-fos">
                    <h3>Product Design Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For Current Students</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/logitech.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/logitechlogo.webp">
            </div>
            <div class="card1about">
                <a href="https://buy.logitech.com/store?Action=custom&SiteID=logieu&pbPage=student-discount&irclickid=0XwR8C1F7xyNTC4xfs2CWyM-UkDXQE1pOwdF0k0&irgwc=1&utm_medium=affiliate&utm_source=Impact&utm_campaign=2032346-Online%20Tracking%20Link" id="links-for-fos">
                    <h3>Logitech 25% Discount</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Discounted for students</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/tower-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/tower-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.git-tower.com/students/windows" id="links-for-fos">
                    <h3>Desktop Git Client</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For Current Students</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/asana-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/asana-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://asana.com/students" id="links-for-fos">
                    <h3>Project Management Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 6 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/lastpass-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/lastpass-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.lastpass.com/" id="links-for-fos">
                    <h3>Password Manager Premium Plan</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 6 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/sketch.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/sketchlogo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.sketch.com/education/" id="links-for-fos">
                    <h3>Digital Design Software 50% Discount</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For Current Students</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/ynab-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/ynab-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.youneedabudget.com/college/" id="links-for-fos">
                    <h3>Personal Budegting Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For Current Students</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/azendoo-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/azendoo-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://blog.azendoo.com/azendoo-for-education-special-offers/" id="links-for-fos">
                    <h3>Work Mangement Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 12 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/squarespace-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/squarespace-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.squarespace.com/students/" id="links-for-fos">
                    <h3>Website Builder(50% Discount)</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Discounted For 12 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/tableau-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/tableau-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.tableau.com/academic/students" id="links-for-fos">
                    <h3>Buisness Analytics Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 12 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/intel-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/intel-logo.webp">
                <h5></h5>
            </div>
            <div class="card1about">
                <a href="https://www.intel.com/content/www/us/en/developer/articles/news/free-intel-software-developer-tools.html" id="links-for-fos">
                    <h3>Software Development Tools</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For Current Students</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/asana-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/asana-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://asana.com/students" id="links-for-fos">
                    <h3>Project Mangement Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 6 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/notion-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/notion-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.notion.so/product/notion-for-education" id="links-for-fos">
                    <h3>All-In-One Workspace Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 12 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/flowchart.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/flowchartlogo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.lucidchart.com/pages/usecase/education" id="links-for-fos">
                    <h3>Flowchart Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For Current Students</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/aws-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/aws-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://aws.amazon.com/education/awseducate/" id="links-for-fos">
                    <h3>AWS Educate Program</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 12 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/autodesk.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/autodesklogo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.autodesk.com/education/edu-software/overview" id="links-for-fos">
                    <h3>Design and Modelling Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 36 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/axure-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/axure-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.axure.com/edu" id="links-for-fos">
                    <h3>Wireframing Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 12 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/namecheap.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/namecheap-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://nc.me/" id="links-for-fos">
                    <h3>Free .me and More Discounted Domain Names</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For 12 Months</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/studentuniverse-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/studentuniverse-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.studentuniverse.com/flights/current-flight-deals?partner=cj&utm_source=cj&utm_medium=affiliate&utm_campaign=_9200817_Book%20now%20-%20button%20-%20120x60&partnerTracking=_9200817_Book%20now%20-%20button%20-%20120x60&cjevent=960ebcb0578b11ed83ed48c70a18ba73" id="links-for-fos">
                    <h3>Exclusive Flight Discounts</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For Current Students</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/office-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/office-logo.webp">
            </div>
            <div class="card1about">
                <a href="https://www.microsoft.com/en-gb/education/products/office" id="links-for-fos">
                    <h3>Office 365 Software</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Free For Current Students</h5>
            </div>
        </div>

        <div class="card1">
            <div class="card1img">
                <img src="../assets/img/resources/freeforstudents/ionos-banner.webp">
            </div>
            <div class="card1logo">
                <img src="../assets/img/resources/freeforstudents/ionos-logo.webp">
            </div>
            <div class="card1about">
                <a href="" id="links-for-fos">
                    <h3>Free Domain Name and Web Hosting(90% Discount)</h3>
                </a>
            </div>
            <div class="card1duration">
                <h5>Discounted For 6 Months</h5>
            </div>
        </div>
    </div>

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>
</html>