<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header'); -%>
    <%- include('layouts/navfootercss'); -%>
    <link rel="stylesheet" href="../css/questions.css">
</head>

<body>

    <%- include('layouts/navbar'); -%>

    <div class="questions_main">
        <div class="top">
            <h4>Category: Random</h4>
            <p>Difficulty:
                <Span id="easy">Easy</Span> to <span id="medium">Medium</span></p>
        </div>
        <div class="questions_div">
            <div class="questions">
                <h3 id="ea">Palindrome Reorder</h3>
                <svg width="15" height="10" viewbox="0 0 42 25">
                <path 
                d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
            </svg>
            </div>
            <div class="que">
                <p>Given a string, your task is to reorder its letters in such a way that it becomes a palindrome (i.e., it reads the same forwards and backwards).
                </p>
            </div>

            <div class="questions">
                <h3 id="med">Tower Of Hanoi</h3>
                <svg width="15" height="10" viewbox="0 0 42 25">
                <path 
                d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
            </svg>
            </div>
            <div class="que">
                <p>The Tower of Hanoi game consists of three stacks (left, middle and right) and n round disks of different sizes. Initially, the left stack has all the disks, in increasing order of size from top to bottom. The goal is to move all the disks to the right stack using the middle stack. On each move you can move the uppermost disk from a stack to another stack. In addition, it is not allowed to place a larger disk on a smaller disk. Your task is to find a solution that minimizes the number of moves.
                </p>
            </div>

            <div class="questions">
                <h3 id="med">Creating Strings</h3>
                <svg width="15" height="10" viewbox="0 0 42 25">
                <path 
                d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
            </svg>
            </div>
            <div class="que">
                <p>Given a string, your task is to generate all different strings that can be created using its characters.
                </p>
            </div>

            <div class="questions">
                <h3 id="ea">Exam Time</h3>
                <svg width="15" height="10" viewbox="0 0 42 25">
                <path 
                d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
            </svg>
            </div>
            <div class="que">
                <p>A person named A took an examination two times. In the first attempt, he scored XX marks while in the second attempt he scored YY marks. According to the rules of the examination, the best score out of the two attempts will be consideredas the final score. Determine the final score of the A.
                </p>
            </div>

            <div class="questions">
                <h3 id="med">Lucky Four</h3>
                <svg width="15" height="10" viewbox="0 0 42 25">
                <path 
                d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
            </svg>
            </div>
            <div class="que">
                <p>Karan likes the number 4 very much. Impressed by the power of this number, Karan has begun to look for occurrences of four anywhere. He has a list of T integers, for each of them he wants to calculate the number of occurrences of the digit 4 in the decimal representation. He is too busy now, so please help him.
                </p>
            </div>

            <div class="questions">
                <h3 id="ea">Taller One?</h3>
                <svg width="15" height="10" viewbox="0 0 42 25">
                <path 
                d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
            </svg>
            </div>
            <div class="que">
                <p>Alice and Bob were having an argument about which of them is taller than the other. Charlie got irritated by the argument, and decided to settle the matter once and for all. Charlie measured the heights of Alice and Bob, and got to know that Alice's height is XX centimeters and Bob's height is YY centimeters. Help Charlie decide who is taller. It is guaranteed that X \neq YX=Y.
                </p>
            </div>

            <div class="questions">
                <h3 id="ea">Burgers</h3>
                <svg width="15" height="10" viewbox="0 0 42 25">
                <path 
                d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
            </svg>
            </div>
            <div class="que">
                <p>A person Bee is fond of burgers and decided to make as many burgers as possible. Bee has AA patties and BB buns. To make 11 burger, Bee needs 11 patty and 11 bun. Find the maximum number of burgers that Bee can make.
                </p>
            </div>

            <div class="questions">
                <h3 id="ea">Odd Sum Pair</h3>
                <svg width="15" height="10" viewbox="0 0 42 25">
                <path 
                d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
            </svg>
            </div>
            <div class="que">
                <p>A boy Jim has 33 numbers A, BA,B and CC. Jim wonders if it is possible to choose exactly two numbers out of the three numbers such that their sum is odd.
                </p>
            </div>

            <div class="questions">
                <h3 id="med">Number Of Jumps</h3>
                <svg width="15" height="10" viewbox="0 0 42 25">
                <path 
                d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
            </svg>
            </div>
            <div class="que">
                <p>A Cat is currently standing at stair 00 and he wants to reach stair numbered XX. Cat can climb either YY steps or 11 step in one move. Find the minimum number of moves required by him to reach exactly the stair numbered XX.
                </p>
            </div>

            <div class="questions">
                <h3 id="med">Scores</h3>
                <svg width="15" height="10" viewbox="0 0 42 25">
                <path 
                d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" />
            </svg>
            </div>
            <div class="que">
                <p>In a test, there are NN problems, each carrying XX marks. In each problem, Chef either received XX marks or 00 marks. Determine whether is it possible for Chef to achieve exactly YY marks.
                </p>
            </div>

            <div class="pagination">
                <ul class="page">
                    <a href="#pagination" class="active">
                        <li>1</li>
                    </a>

                    <a href="#pagination">
                        <li>2</li>
                    </a>

                    <a href="#pagination">
                        <li>3</li>
                    </a>

                    <a href="#pagination">
                        <li>4</li>
                    </a>

                </ul>
            </div>
        </div>
    </div>

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>

</html>
