<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header'); -%>
    <%- include('layouts/navfootercss'); -%>
    <link rel="stylesheet" href="../css/resources.css">
</head>

<body>
    
    <%- include('layouts/navbar'); -%>

    <div class="divMain">

        <h1 id="main-heading"><span id="txt-re">Resources</span> For <span id="txt-stu">Students</span></h1>
        <h4 id="main-about">Find Useful Resources For Your Development And Improvement.</h4>
        <div id="imgOne">
            <img src="../assets/img/resources/resources_main.jpg">
        </div>

    </div>

    <div class="divOne">
        <div class="imgOne">
            <img src="../assets/img/resources/5484597.jpg">
        </div>
        <div class="infoOne">
            <div class="infoOne-title">
                <h2>Free For Students</h2>
            </div>
            <div class="infoOne-about">
                <p>Explore various free services, schemes, discounted offers provided by well known orgnization like adobe, amazon and much more for students!!! </p>
            </div>
            <div class="infoOne-btn">
                <button type="button"><a href="/resources/freeutilites">Visit</a></button>
            </div>
        </div>
    </div>


    <div class="divOne">
        <div class="imgOne">
            <img src="../assets/img/resources/8401.jpg">
        </div>
        <div class="infoOne">
            <div class="infoOne-title">
                <h2>BOOKS</h2>
            </div>
            <div class="infoOne-about">
                <p>Amazing books related to Computer Science written by well known author to make you learn something that really matter.Explore them now!!!</p>
            </div>
            <div class="infoOne-btn">
                <button type="button"><a href="/resources/books">Visit</a></button>
            </div>
        </div>
    </div>

    <div class="divOne">
        <div class="imgOne">
            <img src="../assets/img/resources/practice.jpg">
        </div>
        <div class="infoOne">
            <div class="infoOne-title">
                <h2>Practice Questions</h2>
            </div>
            <div class="infoOne-about">
                <p>Questions to improve logic, problem solving skills and help you to prepare for the interviews. Try to solve them!!!.</p>
            </div>
            <div class="infoOne-btn">
                <button type="button"><a href="/resources/questions">Visit</a></button>
            </div>
        </div>
    </div>

    <div class="divOne">
        <div class="imgOne">
            <img src="../assets/img/resources/reading-books.webp">
        </div>
        <div class="infoOne">
            <div class="infoOne-title">
                <h2>Quiz</h2>
            </div>
            <div class="infoOne-about">
                <p>Take a quiz to check your knowledge and skills you have learned and see how good you are by analyzing the scores!!!.</p>
            </div>
            <div class="infoOne-btn">
                <button type="submit"><a href="/resources/quiz">Visit</a></button>
            </div>
        </div>
    </div>
    
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
    
</body>
</html>